<html ng-app="voteModule">
    <head>
        <meta charset="utf-8" />
        <title>ממשלת החלומות</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body ng-controller="voteController" dir=rtl>
        <div class="container-fluid">
            <div class="row-fluid">
                <h1>ממשלת החלומות</h1>
                הרכב את ממשלת החלומות שלך, שתף עם אחרים וצפה בתוצאות.
            </div>
            <form class="form-horizontal" role="form">
                <div class="row-fluid">
                  <div class="form-group" ng-repeat="job in jobs">
                    <label for="input{{ $index }}" class="col-sm-2 control-label">{{ job }}</label>
                      <div class="col-xs-11 col-sm-2" ng-repeat="candidate in vote[job]">
                        <input size=20 type="text" ng-model="candidate.name" typeahead="person for person in candidates | filter:$viewValue | limitTo:8" class="form-control" id="input{{ $index }}" placeholder="עדיפות {{ $index + 1 }}">
                      </div>
                      <div class="col-xs-1 col-sm-1">
                        <button ng-click="addCandidate(vote[job])" ng-if="vote[job].length < 3" class="btn btn-default">+</button>
                        <button ng-click="removeCandidate(vote[job])" ng-if="vote[job].length > 1" class="btn btn-default">-</button>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-5" align="left">
                            <button ng-click="send()" class="btn btn-danger" ng-if="!sending && !sent">שלח</button>
                            <div ng-if="!sending && sent">נשלח!</div>
                            <div ng-if="sending">שולח...</div>
                            <div ng-if="sending || sent">
                            <a ng-href="{{ shareLink }}">לינק לבחירה שלך</a>(קליק ימני, העתק)<br/>
                            <a ng-href="https://docs.google.com/spreadsheets/d/1qusezQhlHj3zvGe-eg9D91pUSq5GpZ46wUNp6g1QSwY/edit?usp=sharing">צפה בכלל ההצבעות</a>
                            <div fb-like="shareLink"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.2.0-rc2/css/bootstrap-rtl.min.css">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="module.js"></script>
    <script src="angulike.js"></script>
    <script src="controllers.js"></script>
</html>
